@page "/upload/viewupload/{id}"
@inject ICategoriaService UploadService
@inject NavigationManager navManager
@inject IJSRuntime JSRuntime
@inject Blazorcrud.Client.Shared.PageHistoryState PageHistoryState

<h1>View Categoria</h1>
<br/>

<table class="table col-md-6">
    <tbody>
        <tr>
            <th scope="row">Id</th>
            <td>@upload.Id</td>
        </tr>
        <tr>
            <th scope="row">Nombre</th>
            <td>@upload.Nombre</td>
            <th scope="row">Foto</th>
            <td>@upload.Foto</td>
        </tr>
 
    </tbody>
</table>

<div class="form-group">
    @if (PageHistoryState.CanGoBack()){
        <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Back</NavLink>
    }
    else{
        <NavLink href="/upload/1" class="btn btn-link">Back</NavLink>
    }
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    Categoria upload = new Categoria();
    
    protected async override Task OnParametersSetAsync()
    {
       upload = await UploadService.GetUpload(int.Parse(Id));
    }

    
}