@page "/"

<div class="jumbotron">
    <h1 class="display-4">Proyecto Blazor</h1>
    <p class="lead">By Dario.</p>
    <hr class="my-4">
    <ul style="line-height:1.8;">
        <li><b>Noticiero</b> - Muestra la información de las noticias por categoria.</li>
        <li><b>Categoria</b> - Administra las categorias de las noticias.</li>
        <li><b>Usuarios</b> - Maneja los datos de los usuariio.</li>
        <li><b>API</b> - Nuestra completa rest API con Swagger.</li>
    </ul>
</div>